# Kener app.env.sample
# Copy to app.env and customize

# Timezone
TZ=America/New_York

# Hostname
BASE_HOST_NAME=myhostname

# App secret key (min 32 chars)
APP_SECRET_KEY=changeme_secret_key_min_32_chars

# Database credentials
DB_USER_NAME=postgres
DB_USER_PASS=changeme_db_password
DB_CREATE_DATABASE_NAME=kener
